---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="w-full max-w-4xl mx-auto text-zinc-300 md:p-6">
    <h1 class="font-display text-3xl text-white font-medium">Page not found</h1>
    <a href="/" class="text-brand hover:underline focus-visible:underline text-xl">Go back</a>
  </section>
</Layout>
